body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  width: 60%;
  margin: 50px auto;
  background: #020617;
  padding: 30px;
  border-radius: 12px;
}

input, button {
  margin: 10px;
  padding: 10px;
}

button {
  background: #22c55e;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #16a34a;
}

video {
  width: 100%;
  margin-top: 15px;
}

.loader {
  display: none;
  margin-top: 10px;
  color: yellow;
}

.output {
  text-align: left;
  margin-top: 20px;
  background: #020617;
  padding: 15px;
  border-radius: 8px;
}